body {
    padding: 0;
    margin: 0;
}

.header,
.content {
    background-color: #1f2937;
}

.header {
    display: flex;
    padding: 20px;
    margin: 0;
}


ul {
    display: flex;
    list-style-type: none;
    font-size: 18px;
    color: #e5e7eb;
    gap: 25px;
    margin-left: auto;
    margin-right: 350px;
    
}


.logo {
    font-size: 24px;
    color: #f9faf8;
    font-weight: bolder;
    display: flex;
    align-items: center;
    margin-left: 350px;
    margin-right: auto;
}

.content {
    display: flex;
    padding-top: 150px;
    padding-bottom: 150px;
}

.left-side {
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 0;
    margin-left: 350px;
    margin-right: auto;
    flex-wrap: wrap;
    width: 550px;
}

.awesome {
    font-size: 48px;
    font-weight: 900;
    color: #f9faf8;
}

.under-awesome {
    font-size: 19px;
    color: #e5e7eb;
}

button {
    background-color: #3882f6;
    color: white;
    width: 150px;
    padding: 10px;
    border-radius: 10px;
    margin-top: 8px;
    font-weight: bold;
}

.right-side {
    display: flex;
    margin-left: auto;
    margin-right: 350px;
}

.spiderman {
    width: 550px;
    height: 305px;
    border-radius: 8px;   
}

.information {
    display: flex;
    flex-direction: column;
    padding: 50px;
}   

.random {
    display: flex;
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
    justify-content: center;
    margin-bottom: 50px;
}

.lower-content {
    display: flex;
    gap: 80px;
    justify-content: center;
}

 .electro, .sandman, .lizard, .lizard, .rhino {
    height: 220px;
    width: 220px;
    border-radius: 12px;
}

.container {
    display: flex;
    flex-direction: column;
    width: 200px;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    gap: 10px;
    
}

.container-quote {
    display: flex;
    flex-direction: column;
    padding: 100px;
    background-color:#e5e7eb ;
    justify-content: center;
    align-items: center;
}

.quote {
    font-size: 36px;
    font-style: italic;
    justify-content: center;
    align-items: center;
    margin-top: 10px;
}

.speaker {
    margin-left: 1150px;
    padding: 20px;
    font-size: 20px;
    font-weight: bold;
}

.quote,
.speaker {
    display: flex;
    width: 700px;
}